body {
  margin: auto;
  text-align: center;
  padding-bottom: 40px;
  background-color: #eee !important;

}

.form-inline {
  padding: 10px;
  display:block !important;
  text-align: center !important;
}

.form-group {
  bottom:auto;
}
